.btn {
  border-color: #54BBFE;
  border-radius: 10px;
  color: #54BBFE;
  font-size: 14px;
  cursor: pointer;
  font-weight: 400;
  font-style: normal;
  width: 131px;
  height: 37px;
  position:absolute;
  border-width:2px;
  background-color: white;
  text-align: center;
  
}
.btn:focus,
.btn:active{
  outline: 0;
}

.icon {
  height:14px;
  width: 14px;
  padding-right:5px; 
  
}